

html {
  height: 100%;
}
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  color: white;


  ul {
    display: inline-block;


    li {
      display: inline-block;
      list-style: none;
      /*width: 300px;*/
      /*height: 300px;*/

      div.thumbwrapper {
        /*width: 300px;*/
        overflow: hidden;
        position: relative;

        a {
          display: inline-block;

          
        }
        a:link, a:visited {
          color: #fff;
          text-decoration: none;
        }
        a:hover, a:active {
          color: #fff;
          text-decoration: none;
        }
        
      }
    }
  }
}
.transpoverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.thumbcaption {
  position: absolute;
  padding: 0;
  bottom: 0px;
  left: 4px;
  text-align: left;
  line-height: 14px;
  font-weight: normal;
  font-size: 14px;

  color: #000; 
  font: normal 12px/15px Helvetica, Sans-Serif; 
  letter-spacing: 0px;  
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.7);
  padding: 6px;
  display: none;
}

.imglightbox {
  display: none;

}
.img {
  float: left;

}

.comments {
  float: right;
  padding: 4px;
  width: 180px;

  h4 {
    margin-top: 0;
  }
}
.fancybox-inner {
  overflow: hidden !important;
}
.fancybox-nav {
  width: 30%;

}
.fancybox-next {
  right: 190px;
}
