

html {
  height: 100%;
}
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  color: white;
  text-align: center;


  ul {
    display: inline-block;
    margin: 0 auto;


    li {
      display: inline-block;
      list-style: none;
      /*width: 300px;*/
      /*height: 300px;*/
      margin: 10px;

      div.thumbwrapper {
        /*width: 300px;*/
        overflow: hidden;
        position: relative;

        a {
          display: inline-block;

          
        }
        a:link, a:visited {
          color: #fff;
          text-decoration: none;
        }
        a:hover, a:active {
          color: #fff;
          text-decoration: none;
        }
        h4 {
          position: absolute;
          margin: 0;
          margin-left: 4px;
          padding: 0;
          bottom: 8px;
          left: 0px;
          width: 100%;
          text-align: left;
          line-height: 14px;
          font-weight: normal;
          font-size: 14px;
          color: white !important;

          span {
            color: white; 
            font: normal 12px/26px Helvetica, Sans-Serif; 
            letter-spacing: 0px;  
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 6px;
          }
          span.spacer {
            padding:0 3px;
          }
        }
        
      }
    }
  }
}
.transpoverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.imglightbox {
  display: none;

}
.img {
  float: left;

  h3 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 8px;
    left: 0px;
    width: 100%;
    text-align: left;
    line-height: 14px;
    font-weight: normal;
    font-size: 14px;
    color: white !important;

    span {
      color: white; 
      font: normal 24px/40px Helvetica, Sans-Serif; 
      letter-spacing: 0px;  
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 6px;
    }
    span.spacer {
      padding:0 3px;
    }
  } 
}

.comments {
  float: right;
  padding: 4px;
  width: 180px;

  h4 {
    margin-top: 0;
  }
}
.fancybox-inner {
  overflow: hidden !important;
}
.fancybox-nav {
  width: 30%;

}
.fancybox-next {
  right: 190px;
}
