

html {
  height: 100%;
}
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  color: white;


  h1 {
    margin-left: 20px;
  }
  ul {
    display: inline-block;
    margin: 0px 0px 10px 20px !important;


    li {
      display: inline-block;
      list-style: none;
      /*width: 300px;*/
      /*height: 300px;*/

      div.thumbwrapper {
        /*width: 300px;*/
        overflow: hidden;
        position: relative;

        a {
          display: inline-block;

          
        }
        a:link, a:visited {
          color: #fff;
          text-decoration: none;
        }
        a:hover, a:active {
          color: #fff;
          text-decoration: none;
        }
        
      }
    }
  }
}
.transpoverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.thumbcaption {
  position: absolute;
  padding: 0;
  bottom: 0px;
  left: 4px;
  text-align: left;
  line-height: 14px;
  font-weight: normal;
  font-size: 14px;

  color: #000; 
  font: normal 12px/15px Helvetica, Sans-Serif; 
  letter-spacing: 0px;  
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.7);
  padding: 6px;
  display: none;
}

.imglightbox {
  display: none;
  

}
.img {
  float: left;

}
.fancybox-inner {
}
.comments {
  float: right;
  padding: 4px;
  padding-top: 0;
  width: 180px;

  .owner {
    h3 {
      font-size: 14px;
      font-weight: bold;
      color: #e20074;
      line-height: 15px;
      margin-top: 0;
    }
    p {
      font-size: 13px;
      line-height: 14px;
    }
  }
  h4 {
    margin: 0;
    font-size: 14px;
    color: #e20074;
  }
  .commentform {
    form {
      input[type=text], textarea {
        font-size: 12px;
        line-height: 12px;
        width: 140px;
      }
    }
  }
}
.fancybox-inner {
  overflow: hidden !important;
}
.fancybox-nav {
  width: 30%;

}
.fancybox-next {
  right: 190px;
}
