// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  height: 350px;
  position: relative;


  .imgstatus {
    position: absolute;
    top: 10px;
  }

  .imgcontrols {
    position: absolute;
    bottom: 5px;
  }
}
