// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumblistitem {
  margin: 0 10px 20px 10px !important;
  background: #fff;
  cursor: move;
}
.thumbnail {
  height: 350px;
  position: relative;
  


  .imgstatus {
    position: absolute;
    top: 10px;
  }

  .imgcontrols {
    position: absolute;
    bottom: 5px;
  }
}
.thumbinactive p {
  color: #aaa;
}

.download-image-original {
  position: relative; 
  width: 140px;

  img {

  }
  a {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
}
